html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  overflow-x: hidden;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}



@font-face {
  font-family: 'roboto-thin';
  src: url('../fonts/roboto/Roboto-Thin2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-ligth';
  src: url('../fonts/roboto/Roboto-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-bold';
  src: url('../fonts/roboto/Roboto-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'roboto-bold-italic';
  src: url('../fonts/roboto/Roboto-Bold-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cormorant-boldItalic';
  src: url('../fonts/roboto/Cormorant-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@purple: #641faa;

.wrapper{
  width: 100%;
}

.wrapper-header,
.level-wpapper__block,
.level-wrapper{
  width: 1170px;
  margin: 0 auto;
}

.header{
  height: 668px;
  background: url("./../img/header-bg.jpg") 50% 50% no-repeat;
  &-menu {
    width: 638px;
    padding: 34px 532px;
    display: flex;
    justify-content: space-between;

    &__link{
      font-family: roboto-thin;
      font-size: 16px;
      color: #ffffff;
      text-decoration: none;
    }
  }


  &-maintext{
    position: absolute;
    width: 670px;
    margin: 16px 508px;
    color: #ffffff;
  }

  &-maintext__big{
    font-family: cormorant-boldItalic;
    font-size: 56px;
  }

  &-maintext__small{
    font-family: roboto-ligth;
    font-size: 35px;

    padding: 34px 22px;
    &-rigth{
      padding-left: 75px;
      font-size: 34px;
      letter-spacing: 0.3px;
    }

  }

  &-contact{
    width: 333px;
    height: 235px;
    margin: 245px 729px;
    background: #ffffff;
    border: 10px solid #641faa;
    border-top: 50px solid #641faa;
    border-radius: 1px;
  }

  &-contact__head{
    letter-spacing: 1.2px;
    font-family: roboto-thin;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    margin: -39px 42px;
  }

  &-contact__sprite{
    background:url('../img/result.png');
  }


  &-contact__phone{
    margin: 22px 78px;
    position: absolute;
    width: 17px;
    height: 17px;
    background-position: 0px 0px;
  }

  &-contact__icon{
    display: inline-flex;
    justify-content: space-between;
    width: 84px;
    margin: -1px 120px;
  }
  &-contact__viber{
    width: 38px;
    height: 38px;
    background-position: 0px -23px;
  }

  &-contact__whatsapp{
    width: 38px;
    height: 38px;
    background-position: 0px -71px;
  }

  &-contact__number{
    width: 149px;
    margin: 15px 100px;
    font-family: roboto-thin;
    font-size: 22px;
    color: #641faa;
  }

  &-contact__click{
    display: flex;
    justify-content: center;
    margin-top: 14px;
  }

  &-contact__address{
    width: 257px;
    margin: 13px 41px;
    letter-spacing: 0.3px;
    font-family: roboto-ligth;
    font-size: 18px;
    color: #641faa;
  }

  &-contact__button{
    width: 246px;
    height: 50px;
    background: #1cb100;
    border: none;
    border-radius: 3px;
    font-family: roboto-bold;
    font-size: 22px;
    color: #ffffff;
  }
}

.info{
  height: 141px;
  padding-left: 100px;

  background: url("./../img/info-line1.jpg") 50% 50% no-repeat;

  &-text{
    padding: 19px 12px;
  }

  &-text__bold{
    font-family: cormorant-boldItalic;
    font-size: 48px;
    color: #ffffff;

  }

  &-text__light{
    font-family: roboto-thin;
    font-size: 28px;
    color: #a4a5a8;
  }
}

.level{
  height: 554px;


  &-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
  }

  &-hr{
    width: 329px;
    margin-top: 29px;
    border-top: 1px solid #641faa;
  }

  &-text{
    font-family: roboto-thin;
    font-size: 48px;
    color: #641faa;
  }

  &-about{
    display: flex;
    justify-content: space-between;
  }
}


.sprite-icon{
  background: url("./../img/result2.png");
}

.wrapper-block{
  width: 1110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 43px auto;

}

.level{

  .big-block{
    width: 256px;
  }

  &-block{
    width: 212px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon1 {
      width: 44px;
      height: 51px;
      background-position: 0px 0px;
    }

    &__icon2{
      width: 59px;
      height: 47px;
      background-position: 0px -184px;
    }

    &__icon3{
      width: 39px;
      height: 51px;
      background-position: 0px -61px;
    }

    &__icon4{
      width: 59px;
      height: 52px;
      background-position: 0px -122px;
    }

    h1{
      margin-top: 21px;
      font-family: roboto-bold;
      font-size: 24px;
      color: #641faa;
    }
    p{
      margin-top: 22px;
      font-family: roboto-thin;
      font-size: 16px;
      color: #696969;
    }
  }
}


.level-statistic{
  width: 1120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 54px auto;

  &__case{
     justify-content: center;

    h1{
      font-family: roboto-bold;
      font-size: 46px;
      color: #641faa;
      padding-left: 44px;
    }

    p{
      margin-top: 22px;
      font-family: roboto-thin;
      font-size: 15px;
      color: #696969;
      line-height: 20px;
    }

  }
}


.info-line {
  height: 169px;
  background: url("./../img/line-girl-min.jpg") 50% 50% no-repeat;


  &-text{
    padding: 16px 451px;
    position: absolute;
    &__bold {
      font-family: cormorant-boldItalic;
      font-size: 48px;
      color: #ffffff;
    }

    &__light{
      width: 784px;
      margin-top: 10px;
      font-family: roboto-thin;
      font-size: 21px;
      color: #ffffff;
    }
  }
}

.product{
  height: 1093px;
  margin-top: 0px;;
  background: url("./../img/bg-product-min.jpg") 50% 50% no-repeat;

  &-wrapper{
    width: 1171px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 52px;
  }

  &-hr{
    width: 45px;
    margin-top: 28px;
    border-top: 1px solid #ffffff;
  }

  &-text{
    font-family: roboto-thin;
    font-size: 47px;
    color: #ffffff;
  }
}



.product{

  &-main {
    width: 1170px;
    margin: 0 auto;
  }

  &-text__head{
    font-family: Roboto-Bold-Italic;
    font-size: 23px;
    color: #ffffff;
  }

  &-text__paragraph{
    margin-top: 43px;
    font-family: roboto-thin;
    font-size: 16px;
    color: #a97bca;
    line-height: 24px;
  }

  &-left{
    float: left;
    margin-right: 24px;
    &__img{
      height: 230px;
      width: 570px;
      margin: 51px 0px;
      background: url("./../img/before-after.jpg");
    }

  }

  &-right{
    &__block1{
      padding-top: 52px;
    }

    &__block2{
      padding-top: 64px;
    }

    &__block3{
      padding-top: 52px;
    }
  }
}


.product{
  

  
  &-footer{
    clear: left;
    display: flex;
    justify-content: space-around;
    margin-top: 89px;





    &-text{
      font-family: roboto-thin;
      font-size: 21px;
      color: #ffffff;

      &__pos1{
        margin-top: 20px;
      }
      &__pos2{
        margin-top: 29px;
      }
      &__pos3{
        margin-top: 12px;
      }
      &__pos4{
        margin-top: 12px;
      }
      &__pos5{
         margin-top: 20px;
       }

    }

    &-sprite{
      background: url("./../img/icons_product-min.png");
    }

    &-icon1{
      width: 45px;
      height: 48px;
      background-position: 0px 0px;
    }

    &-icon2{
      width: 61px;
      height: 37px;
      background-position: 0px -58px;
    }

    &-icon3{
      width: 43px;
      height: 54px;
      background-position: 0px -105px;
    }

    &-icon4{
      width: 24px;
      height: 54px;
      background-position: 0px -169px;
    }

    &-icon5{
      width: 59px;
      height: 47px;
      background-position: 0px -233px;
    }

    &-block1{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}


.info-textline{
  height: 169px;
  background: url("./../img/info-line-min.jpg") 50% 50% no-repeat;

  &__pos{
    width: 697px;
    padding: 30px 489px;
  }
}

.info-line-text__size{
  margin-top: 0px;
  font-size: 29px;
  letter-spacing: 0.6px;
}

.price{
  height: 792px;
  background-color: #ffffff;

  &-wrapper{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
  }

  &-hr{
    width: 329px;
    margin-top: 29px;
    border-top: 1px solid #641faa;
  }

  &-text{
    font-family: roboto-thin;
    font-size: 48px;
    color: #641faa;
  }


  &-img{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &__sprite{
      width: 270px;
      height: 200px;
      background: url("./../img/sprite-face.jpg");
    }
    &__1{
      background-position: 0px 0px;
    }
    &__2{
      background-position: 0px -210px;
    }
    &__3{
      background-position: 0px -420px;
    }
    &__4{
      background-position: 0px -630px;
    }
  }
}


.works{
  height: 420px;
  background: url("./../img/bg-works-min.jpg");

  &-wrapper{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }

  &-hr{
    width: 399px;
    margin-top: 29px;
    border-top: 1px solid #ffffff;
  }

  &-text{
    font-family: roboto-thin;
    font-size: 48px;
    color: #ffffff;
  }

  &-img{
    width: 1170px;
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
    &__sprite{
      width: 270px;
      height: 200px;
      background: url("./../img/sprite-face.jpg");
      box-shadow: 0 0 7px rgba(243, 242, 255, 0.93);
    }
    &__1{
      background-position: 0px 0px;
    }
    &__2{
      background-position: 0px -210px;
    }
    &__3{
      background-position: 0px -420px;
    }
    &__4{
      background-position: 0px -630px;
    }
  }
}















